html {
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
  overflow: visible !important;
}

h1, h2 {
  font-family: 'Lora', serif !important;
}

h1 {
  color: #3366c1;
}

@media only screen and (max-width: 646px) {
  h1 {
    line-height: 1 !important;
  }
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 4rem !important;
  }
}

h2 {
  margin-bottom: 16px !important;
  line-height: 1 !important;
}

@media only screen and (max-width: 490px) {
  h2 {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 2.6rem !important;
  }
}

@media only screen and (max-width: 350px) {
  h2 {
    font-size: 2.4rem !important;
  }
}

.language__dropdown {
  position: fixed;
  z-index: 99;
  background-color: #fafafa;
  border-radius: 0 6px;
  right: 8px;
}

@media only screen and (max-width: 415px) {
  .language__dropdown {
    position: absolute;
  }
}

.language__dropdown > button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.language__dropdown > button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

@media only screen and (max-width: 490px) and (min-width: 415px) {
  .language__dropdown > button {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 480px) and (min-width: 415px) {
  .language__dropdown > button {
    min-width: 30px;
  }
}

.language__dropdown-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 610px) and (min-width: 415px) {
  .language__dropdown-lang {
    display: none;
  }
}

.language__dropdown-expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 450px) and (min-width: 415px) {
  .language__dropdown-expand {
    display: none;
  }
}

.intro {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro__subtitle {
  color: rgba(0, 0, 0, 0.6);
  margin: 0 !important;
  font-size: 1rem !important;
}

.navbar {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.navbar > ul {
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar > ul > li {
  display: inline;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.navbar > ul > li:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navbar > ul > li > a {
  text-decoration: none;
  font-size: 0.9rem;
  margin: 8px;
  color: #0045c1;
}

.navbar > ul > li > a:hover {
  color: #c40000;
}

.navbar__current {
  font-weight: bold;
  color: #c40000 !important;
}

.about {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skills > ul {
  list-style: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
}

.skills > ul > li > ul {
  padding: 4px;
  padding-left: 0;
  color: rgba(0, 0, 0, 0.87);
}

.skills > ul > li > ul > li {
  list-style: none;
  margin: 8px;
  margin-left: 0;
}

.skills > ul > li > ul > li > span {
  background-color: #3366c1;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 8px;
  margin-top: -4px;
  margin-bottom: 16px;
  min-width: 80px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
  margin-right: -4px;
}

.section {
  margin: 12rem 0;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 410px;
          flex: 1 1 410px;
  margin: 8px;
  background-color: #fafafa !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 10px solid #18356a;
}

.card__img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.card__description {
  padding: 8px;
}

.card__description > p {
  color: rgba(0, 0, 0, 0.7);
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__buttons > button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-top: 8px !important;
}

.card__buttons > button + button {
  margin-left: 8px !important;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 604px;
  margin-left: -4px;
  margin-top: 16px;
}

.contact__form > div {
  margin: 4px !important;
}

.contact__form > div + div {
  margin-top: 12px !important;
}

.contact__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact__button-wrapper-inner {
  position: relative;
}

.contact__button-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.contact > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact > p + p {
  margin-top: 4px;
}

.contact__icon {
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.87);
}

.button {
  background-color: #3366c1 !important;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.button:hover {
  background-color: #1d396a !important;
}

.button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.button:focus {
  background-color: #1d396a !important;
}

@media only screen and (max-width: 442px) {
  .button {
    line-height: 1.5 !important;
  }
}

.about {
  opacity: 0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.section_animation {
  -webkit-animation-name: view-entry;
          animation-name: view-entry;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes view-entry {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes view-entry {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

section {
  opacity: 0;
}
/*# sourceMappingURL=App.css.map */