$background-color: #fafafa
//INTRO
.intro
  height: 40vh
  display: flex
  flex-direction: column
  justify-content: flex-end

//NAVBAR  
.navbar
  width: 260px
  margin: 0 auto
  position: sticky
  top: 0
  background-color: $background-color
  & > ul
    padding: 0
    display: flex
    justify-content: center
    & > a
      text-decoration: none
      &:hover
        color: red
      & > li
        display: inline
        margin: 8px //rem?
      
//ABOUT
.about
  height: 50vh
  display: flex
  flex-direction: column
  justify-content: flex-end


//SKILLS
.skills
  & > ul
    list-style: none
    padding: 0
    & > ul
      padding-left: 20px
      & > li
        list-style: none


////////OTHEr
.section
  margin: 12rem 0

//PROJECTS
.projects
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 8px
.card
  flex: 1 1 400px
  margin: 6px
  background-color: $background-color !important
  &__img
    max-height: 100%
    max-width: 100%
    height: auto
    width: auto
  &__description
    padding: 8px


//CONTACT
.contact
  &__form
    display: flex
    flex-direction: column
    max-width: 606px
    margin-left: 8px
    & > *
      margin: 4px !important

  &__button
    &-wrapper
      display: flex
      justify-content: flex-end
      &-inner
        position: relative
    &-progress
      position: absolute
      top: 50%
      left: 50%
      margin-top: -12px
      margin-left: -12px

.test
  background-color: green